@import "tailwindcss";

@theme inline {
  --color-gold: #D4AF37;
  --color-obsidian: #0B1215;
  --color-background: #0B1215;
  --color-foreground: #ededed;
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

body {
  background: var(--color-obsidian);
  color: var(--color-foreground);
  font-family: Arial, Helvetica, sans-serif;
}
